modules = ["nodejs-20", "web", "bash"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["sh", "-c", "pnpm --filter @workspace/discord-bot start"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Discord Bot"

[[workflows.workflow]]
name = "Discord Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/discord-bot start"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
DISCORD_GUILD_ID = "1466822255005798484"
DISCORD_ROLE_ID = "1477691134301175959"
DISCORD_CHANNEL_ID = "1477681029081731072"

[nix]
channel = "stable-25_05"
